%h1.left Listing Statuses
.right= link_to 'New Status', new_status_path, :class => "btn success"

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @statuses.each do |status|
    %tr
      %td= status.name
      %td= link_to 'Edit', edit_status_path(status)
      %td= link_to 'Destroy', status, :confirm => 'Are you sure?', :method => :delete

%br