.topbar-inner,.topbar .fill{
 background: #333; /* Old browsers */
background: -moz-linear-gradient(top, #066dab 0%, #084368 99%, #c5deea 100%) !important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#066dab), color-stop(99%,#084368), color-stop(100%,#c5deea)) !important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #066dab 0%,#084368 99%,#c5deea 100%)  !important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #066dab 0%,#084368 99%,#c5deea 100%) !important; /* Opera11.10+ */
background: -ms-linear-gradient(top, #066dab 0%,#084368 99%,#c5deea 100%) !important; /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#066dab', endColorstr='#066dab',GradientType=0 ) !important; /* IE6-9 */
background: linear-gradient(top, #066dab 0%,#084368 99%,#c5deea 100%) !important; /* W3C */
  -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow:0 1px 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
body { padding-top: 50px !important; padding-left: 25px !important; padding-right: 25px !important; }

.big_form {
  input {
    width: 100%;
    font-size: 20px;
    height: 30px;
  }
  textarea  {
    width: 100%;
    height: 250px;
  }
  .actions .btn {
    width: 80%;
  }
}
td {
    border-bottom: 0 !important;
    border-top: 0 !important;
}

#auth {
    float: right;
}

.clear{ clear: both; }
.left { float: left; }
.right { float: right; }

.small_container {
    width: 400px;
}
.login_form {
  width: 400px !important;
  input { width: 100%; }
  .login_button { width: 100% !important; }
}

.big_links {
    font-size: 20px !important;
    min-width: 300px;
}

.story_name { 
  padding-left: 5px; 
}
.add { 
  margin-top: 2px; 
}

.task_form {
  textarea { 
    width: 100%;
    height: 40px; 
  }
  th, td {
    padding: {
      top: 1px;
      bottom: 0px;
    }

  }
}

.even {background-color: #efefef; }

.small_select {
    font-size: 12px !important;
    height: auto !important;
    width: auto !important;
}

.biglabel {
    color: #46A546;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 18px !important;
    padding: 5px !important;
    padding-right: 100px !important;
}

.mediumlabel {
    font-size: 14px !important;
    padding: 4px !important;
    color: #222 !important;
    font-weight: bold;
}

.tasks {
    padding-left: 15px !important;
    tr {
        td {
            padding-top:10px !important;
            padding-left: 5px !important;
            padding-bottom: 0px !important;
            border-bottom: 1px solid #efefef !important;
            margin: 0px !important;
        }
    }
    form {
        .input {
            margin-left: 0px !important;
        }
    }
}
.small_th {
    th {
        padding: 0px !important;
        border: 0 !important;
     }
}

hr {
    margin: 6px 0 5px !important;
}